body {
    background: #f7e6de;
    color: #ff0000;
    overflow: auto;
    >div {
        line-height: 0;
    }
}



#user_login {
    .view {
        img {
            width: 100%;
            height: 100%;
        }
        .clock {
            height: (50rem/100);
            width: 100%;
            position: relative;
            background: #ffe3cc;
            overflow: hidden;
            ul {
                position: relative;
                margin: 0;
                padding: 0;
                li {
                    margin: 0;
                    color: #333333;
                    font-size: (24rem/100);
                    list-style: none;
                    line-height: (50rem/100);
                    padding: 0 (50rem/100);
                    background: url(../assets/clock.png) no-repeat (20rem/100) (13rem/100);
                    background-size: (20rem/100) (19rem/100);
                    span {
                        color: #ff1414;
                    }
                }
            }
        }
        .content {
            position: relative;
            background: url(../assets/west_bg_02.png) no-repeat 0 0;
            background-size: (750rem/100) auto;
            min-height: (1155rem/100);
            text-align: center;
            h2,
            h3,
            h5 {
                margin: 0;
                padding: 0;
                width: 100%;
            }
            h2 {
                position: absolute;
                top: (136rem/100);
                line-height: (32rem/100);
                font-size: (32rem/100);
                font-weight: bold;
            }
            h3 {
                position: absolute;
                top: (350rem/100);
                line-height: (36rem/100);
                font-size: (36rem/100);
                font-weight: normal;
            }
            .btns {
                position: absolute;
                width: (534rem/100);
                left: 50%;
                margin-left: -(534rem/100/2);
                top: (562rem/100);
                color: #fff;
                .btn {
                    width: 100%;
                    height: (70rem/100);
                    background: #f54345;
                    border-radius: (30rem/100);
                    line-height: (70rem/100);
                    font-size: (32rem/100);
                    font-weight: normal;
                    margin-bottom: (30rem/100);
                }
            }

            h5 {
                position: absolute;
                top: (866rem/100);
                line-height: (36rem/100);
                font-size: (36rem/100);
                font-weight: normal;
            }
            .peoples {
                position: absolute;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                width: (600rem/100);
                height: (62rem/100);
                overflow: hidden;
                top: (930rem/100);
                left: 50%;
                margin-left: -(600rem/100/2);
                .people {
                    width: (62rem/100);
                    height: (62rem/100);
                    border-radius: (25rem/100);
                    overflow: hidden;
                }
            }
            .look_user {
                position: absolute;
                left: 50%;
                margin-left: -(200rem/100/2);
                top: (1020rem/100);
                width: (200rem/100);
                line-height: (44rem/100);
                border: (4rem/100) solid #ff0000;
                border-radius: (44rem/100/2);
                font-size: (24rem/100);
                font-weight: normal;
            }
        }
        .pop {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1000;
            background: rgba(0, 0, 0, 0.3);
            &.pop1 {
                .box1 {
                    width: (687rem/100);
                    height: (720rem/100);
                    background: url(../assets/west_pop_07.png) no-repeat center center;
                    background-size: (687rem/100) (720rem/100); // top: (150rem/100);
                    margin: (150rem/100) auto 0;
                    padding: 0.01rem;
                    .word {
                        width: (290rem/100);
                        height: (34rem/100);
                        margin: (110rem/100) auto 0;
                    }
                    .imgs {
                        width: 68%;
                        margin: (30rem/100) auto;
                        height: (320rem/100);
                        overflow-y: auto;
                        .img_box {
                            margin: (8rem/100);
                            display: block;
                            float: left;
                            width: (139rem/100);
                            height: (139rem/100);
                            border-radius: (30rem/100);
                            overflow: hidden;
                            img {}
                        }
                    }
                    .save {
                        width: (276rem/100);
                        height: (72rem/100);
                        line-height: (72rem/100);
                        font-size: (32rem/100);
                        text-align: center;
                        color: #fff;
                        border-radius: (60rem/100/2);
                        background: #f4393b;
                        margin: 0 auto;
                    }
                }
            }
            &.pop2 {
                .box2 {
                    width: (688rem/100);
                    height: (910rem/100);
                    background: url(../assets/west_pop_07.png) no-repeat center center;
                    background-size: (688rem/100) (910rem/100); // top: (150rem/100);
                    margin: (140rem/100) auto 0;
                    padding: 0.01rem;
                    .good {
                        margin: (120rem/100) auto (30rem/100);
                        width: (146rem/100);
                        height: (35rem/100);
                    }
                    h3 {
                        font-size: (32rem/100);
                        line-height: (32rem/100);
                        text-align: center;
                        color: #333333;
                        margin: 0;
                    }
                    .peoples {
                        width: 70%;
                        height: (188rem/100);
                        margin: (20rem/100) auto (35rem/100);
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        .people {
                            width: (150rem/100);
                            text-align: center;
                            img {
                                width: (90rem/100);
                                height: (90rem/100);
                                border-radius: (40rem/100);
                            }
                            p {
                                font-size: (22rem/100);
                                line-height: (22rem/100);
                                margin: 0;
                                margin-top: (20rem/100);
                                color: #333333;
                            }
                            .replace {
                                color: #f4393b;
                                font-size: (22rem/100);
                                width: (137rem/100);
                                height: (38rem/100);
                                line-height: (36rem/100);
                                border-radius: (38rem/100/2);
                                border: (1rem/100) solid #f4393b;
                                margin: (10rem/100) auto;
                            }
                        }
                    }
                    .manage {
                        width: 100%;
                        height: (50rem/100);
                        text-align: center;
                        >div {
                            display: inline-block;
                            width: (212rem/100);
                            height: (60rem/100);
                            line-height: (60rem/100);
                            border-radius: (60rem/100/2);

                            color: #fff;
                            font-size: (30rem/100);
                            margin: (-5rem/100) (20rem/100) 0;
                            text-align: center;
                        }
                        .save {
                            background: #f4393b;
                        }
                        .cancle {
                            background: #ff8182;
                        }
                    }
                }
            }
            &.pop3 {
                .box1 {
                    width: (687rem/100);
                    height: (620rem/100);
                    background: url(../assets/west_pop_03.png) no-repeat center center;
                    background-size: contain; // top: (150rem/100);
                    margin: (150rem/100) auto 0;
                    padding: 0.01rem;
                    .face {
                        width: (200rem/100);
                        height: (177rem/100);
                        margin: (167rem/100) auto (50rem/100);
                    }
                    .word {
                        width: (373rem/100);
                        height: (41rem/100);
                        margin: 0 auto;
                    }
                }
            }
            &.pop4 {
                .box1 {
                    width: (687rem/100);
                    height: (620rem/100);
                    background: url(../assets/west_pop_03.png) no-repeat center center;
                    background-size: contain; // top: (150rem/100);
                    margin: (150rem/100) auto 0;
                    padding: 0.01rem;
                    .face {
                        width: (331rem/100);
                        height: (44rem/100);
                        margin: (227rem/100) auto (93rem/100);
                    }
                    .word {
                        width: (272rem/100);
                        height: (72rem/100);
                        margin: 0 auto;
                    }
                }
            }

            .close {
                width: (60rem/100);
                height: (58rem/100);
                margin: (30rem/100) auto;
            }
        }
    }
}